@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fcf8fa !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.logo {
	margin-left: 2vw;
	height: 5vh;
	width: auto;
}

.menu {
	margin-right: 4vw;
	height: 3vh;
	width: auto;
}

.nav {
	height: 12vh;
	background-color: #fcf8fa;
	border: none !important;
	border-width: 0 !important;
}

#BHS-pic-container {
	height: 40vh;
	width: 100vw;
	margin-bottom: 1em;
	position: relative;
}

#BHSPic {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#aboutustitle {
	bottom: 0;
	left: 0;
	margin-left: 1.5%;
	margin-bottom: 1.5%;
	position: absolute;
	margin-bottom: 0 !important;
}

.card-class {
	margin: 2vh;
	padding: 5%;
}

h1 {
	color: #fcf8fa !important;
	font-size: 3em !important;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 1.5%;
	font-family: 'Open Sans', sans-serif;
}
